@mixin Pointer {
	transition: scale 0.2s ease-in-out;
	&:active {
		scale: 0.99;
	}
	@media (min-width: 768px) {
		cursor: pointer;
	}
}

@mixin ColorChange {
	transition:
		background 0.2s ease-in-out,
		color 0.2s ease-in-out,
		fill 0.2s ease-in-out,
		fill-opacity 0.2s ease-in-out;
}
