@use '../../styles/mixins';

.rate ul {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;

	padding-inline: 20px;
}

.rate-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2px;

	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: -0.4px;

	@include mixins.Pointer;
	@include mixins.ColorChange;
}

.rate-button.active {
	--filled: var(--main-dark);
	--filled-text: var(--white);
}
