.powered-by {
	display: flex;
	justify-content: center;

	padding-block: 10px;

	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: -0.4px; //kill me please

	color: var(--neutral-200);
}
