.type-in-tips {
	h2 {
		margin-block: 140px 40px;

		font-weight: 900;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		letter-spacing: 0.005em;
		color: var(--black);
	}

	input {
		outline: none;

		width: 100%;
		padding: 16px;
		margin-bottom: 100px;

		border: 2px solid var(--main-dark);
		border-radius: var(--border-1);

		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		letter-spacing: -0.4px;
	}
}
