@use '../../styles/mixins';

.payment {
	margin: 0 -9px;

	min-height: 133px;

	& button {
		border-radius: var(--border-1);
	}
}

.frame.payment {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	padding-top: 19px;
	padding-inline: 36px;
	border-radius: var(--border-1) var(--border-1) 0 0;
	box-shadow: 0 0 10px 0 #0000001A;
}
