@use '../../styles/mixins';

.payment ul {
	display: grid;
	gap: 8px;
}

.payment-method {
	display: grid;
	grid-template-columns: 25px 1fr;
	align-items: center;
	gap: 12px;
	padding: 8px 12px;
	background: var(--neutral-50);
	border-radius: var(--border-2);

	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: -0.4px;

	@include mixins.Pointer;
}

.frame.payment {
	padding-inline: 9px;
}
